---
import ImageCard from "./image-card.jsx";

const { title, picturesArray, prefix, variant = "dark" } = Astro.props;
---

{
  title && (
    <h2 class="lg:text-5xl text-3xl text-center font-merriweather mb-6 pt-2">
      {title}
    </h2>
  )
}
<div class="grid grid-cols-1 lg:grid-cols-3">
  {
    picturesArray.map((image, index) => (
      <ImageCard
        src={image}
        index={index}
        images={picturesArray}
        prefix={prefix}
        client:only="react"
      />
    ))
  }
</div>
